.home-div{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content:space-around;
    align-items: center;

}


.profile-picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-picture{
    clip-path: circle();
}

.text{
    background-color: rgba(100, 100, 200, 0.3);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.panal{
    width: 100%;
    margin: 1;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1;
}

.language-block,
.skill-block {
    display: flex;
    width: auto;
    padding: 5px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
    justify-content: center;
    transition: background-color 0.3s ease;
}


.language-block:hover,
.skill-block:hover{
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease;
}

.popup {
    visibility: hidden;
    width: 200px;
    background-color: rgba(100,100,100,0.8);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    padding: 5px 0;
    z-index: 1;
    /* Position the popup above the block */
    transition: opacity 0.3s;
}


.language-block:hover > .popup {
    visibility: visible;
    opacity: 1;
}
