:root{
    --background-start-rgb: 80, 80, 255;
    /* light color */
    --background-end-rgb: 200, 200, 200;
    /* light color */
    --background-hover-rgb: 50, 50, 100;
}

[data-theme=false] {
    --background-start-rgb: 80, 80, 255;
    /* light color */
    --background-end-rgb: 200, 200, 200;
    /* light color */
    --background-hover-rgb: 50, 50, 100;
}

[data-theme=true] {
    --background-start-rgb: 0, 0, 0;
    /* dark color */
    --background-end-rgb: 100, 100, 255;
    /* dark color */
    --background-hover-rgb: 115, 115, 200;
}

.nav-block {
    width: auto;
    height: auto;
    background-color: rgba(201, 187, 245, 0.3);
}

body {
    margin: 0;
}


html {
    width: 100%;
    scroll-behavior: smooth;
}