
[data-theme=false]{
    --background-start-rgb: 62, 88, 121;
    /* light color */
    --background-end-rgb: 245, 239, 231;
}

[data-theme=true]{
    --background-start-rgb: 0, 0, 0;
    /* dark color */
    --background-end-rgb: 62, 88, 121;
    /* dark color */
}

#home,
#about,
#projects {
    height: 100vh;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 40px;
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    background-attachment: fixed;
    transition: background 0.5s ease;
}

#contact {
    height: 40vh;
    width: 100vw;
    padding: 20px;
    background: rgb(var(--background-start-rgb));
    background-attachment: fixed;
    transition: background 0.5s ease;
}


body {
    transition: background 0.5s ease;
    /* Ensure smooth transition for body background too */
}