@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode */
[data-theme=false] {
  --text-color: #000000;
}

/* Dark mode */
[data-theme=true] {
  --text-color: #ffffff;
}

body {
  color: var(--text-color);
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*
.scroll-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* Hide scrollbar in IE and Edge
  scrollbar-width: none;
  /* Hide scrollbar in Firefox
  scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar in WebKit-based browsers
}

.scroll-content {
  background-color: #f0f0f0;
  
} */

