@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h1-text: rgb(0, 0, 0);
  /* light color */
  --h2-text: rgb(5, 5, 5);
  /* light color */
  --h3-text: rgb(35, 35, 35);
}

[data-theme=false] {
  --h1-text: rgb(0, 0, 0);
    /* light color */
    --h2-text: rgb(5, 5, 5);
    /* light color */
    --h3-text: rgb(35, 35, 35);
}

[data-theme=true] {
  --h1-text: rgb(255, 255, 255);
  /* dark color */
  --h2-text: rgb(205, 205, 205);
  /* dark color */
  --h3-text: rgb(180, 180, 180);
}

.heading1{
  padding: 5px;
  font-size: large;
  color: var(--h1-text);
  opacity: 1;
}

.heading2 {
  padding: 3px;
  color: var(--h2-text);
  opacity: 0.95;
}

.heading3 {
  padding: 3px;
  color: var(--h3-text);
  opacity: 0.85;
}
.appearing-text{
  color: var(--h3-text);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.card:hover > .cardContent > .appearing-text{
  opacity: 0.85;
  transition: opacity 0.5s ease-in-out;
}

body {
  overflow: hidden;
}

#title {
  font-size: large;
  color: var(--h1-text);
}

.icons{
  margin: 5px;
  color: var(--h1-text);
  display: block;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

